phase_1a/images/*
!phase_1a/images/.gitkeep
phase_2a/images/*
!phase_2a/images/.gitkeep
phase_1b/images/*
!phase_1b/images/.gitkeep
phase_2b/images/*
!phase_2b/images/.gitkeep
phase_2b/submission/model/model.safetensors